.exhibition-wrap section{
    padding:60px 0;
}
.exhibition-wrap .section-header{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.exhibition-wrap .section-header span{
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 1.1em;
    font-weight: 400;
    color:var(--brand-color);
}
.exhibition-layout .img{
    border-radius: 12px;
    height: 460px;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.exhibition-items .item-list{
    display: flex;
    flex-direction: column;
    gap:28px;
    align-items: stretch;
}
.exhibition-items .item-list>li{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.exhibition-items .item-list>li .title{
    width: 100%;
    padding:20px 28px;
    border-radius: 12px;
    box-sizing: border-box;
    height: 148px;
    color:#111;
    background-repeat: no-repeat;
    background-position: right 16px bottom 16px;
    background-size: 54px auto;
}
.exhibition-items .item-list>li.item-1 .title{
    background-color: var(--ai-color);
    background-image: url(../images/exhibition/icon_ai_01.svg);
}
.exhibition-items .item-list>li.item-2 .title{
    background-color: var(--bio-color);
    background-image: url(../images/exhibition/icon_ai_02.svg);
}
.exhibition-items .item-list>li.item-3 .title{
    background-color: var(--wellness-color);
    background-image: url(../images/exhibition/icon_ai_03.svg);
}
.exhibition-items .item-list>li.item-4 .title{
    background-color: var(--contents-color);
    background-image: url(../images/exhibition/icon_ai_04.svg);
}
.exhibition-items .item-list>li>ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: stretch;
    width: 100%;
}
.exhibition-items .item-list>li>ul li{
    width: 100%;
    background: var(--bg-darkgray);
    height: 100%;
    min-height: 148px;
    box-sizing: border-box;
    padding:20px 28px;
    border-radius: 12px;
}
.exhibition-items .item-list>li>ul li dt{
    margin-bottom: 8px;
    font-weight: 700;
}
.exhibition-items .item-list>li.item-1>ul li dt{
    color:var(--ai-color);
}
.exhibition-items .item-list>li.item-2>ul li dt{
    color:var(--bio-color);
}
.exhibition-items .item-list>li.item-3>ul li dt{
    color:var(--wellness-color);
}
.exhibition-items .item-list>li.item-4>ul li dt{
    color:var(--contents-color);
}
.exhibition-items .item-list>li>ul li dd{
    color:#B9B9B9;
    position: relative;
    padding-left: 0.8em;
}
.exhibition-items .item-list>li>ul li dd::before{
    content:'-';
    position: absolute;
    left:0;
    top:0;
}

.exhibitor-intro{
    overflow: hidden;
}
.exhibitor-tab{
    margin-bottom: 40px;
    overflow: visible;
}
.exhibitor-tab .swiper-slide{
    width: auto;
}
.exhibitor-tab button{
    padding:14px 22px;
    border:1px solid #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: -0.01em;
    border-radius: 1000px;
    background-color: transparent;
    white-space: nowrap;
}
.exhibitor-tab button.active{
    background-color: var(--brand-color);
    border-color:var(--brand-color);
    color:#fff;
}
.exhibitor-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.exhibitor-item{
    width: 220px;
    border-radius: 12px;
    background-color: #fff;
}
.exhibitor-item button{
    display: block;
    border:0;
    cursor: pointer;
    background-color: transparent;
    padding:6px 20px 12px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    color:#111;
}
.exhibitor-item button .img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}
.exhibitor-item button .img img{
    max-width: 100%;
    height: auto;
}
.exhibitor-item button .info{
    margin-top: 8px;
}

.exhibitor-modal{
    display: none;
    background-color: #fff;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 92vw;
    max-width: 375px;
    max-height: 90vh;
    z-index: 100;
    box-shadow: 0 9px 24px rgba(0,0,0,0.4);
}
.exhibitor-modal .modal-content{
    position: relative;
    padding:20px;
}
.exhibitor-modal .modal-content .img{
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exhibitor-modal .modal-content .img img{
    max-height: 120px;
}
.exhibitor-modal .modal-content .info{
    overflow-y: auto;
    max-height: calc(90vh - 180px);
    margin-top: 19px;
    color:#111;
}
.exhibitor-modal .modal-content .info tbody{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.exhibitor-modal .modal-content .info tbody tr{
    display: block;
}
.exhibitor-modal .modal-content .info tbody tr th,
.exhibitor-modal .modal-content .info tbody tr td{
    display: block;
}
.exhibitor-modal .modal-content .info tbody tr th{
    font-weight: 700;
}
.exhibitor-modal .btn-close{
    position: absolute;
    right:20px;
    top:20px;
    border:0;
    padding:0;
    cursor: pointer;
    background-color: transparent;
}
.exhibitor-modal .btn-close img{
    display: block;
}

@media (min-width:800px){
    .exhibition-wrap section{
        padding:80px 0;
    }
    .exhibition-layout .img{
        height: 320px;
    }

    .exhibition-items .item-list{
        gap:40px;
    }
    .exhibition-items .item-list>li{
        flex-direction: row;
        align-items: stretch;
        gap: 12px;
    }
    .exhibition-items .item-list>li .title{
        width: calc(50% - 6px);
        min-height: 510px;
        height: 100%;
    }
    .exhibition-items .item-list>li>ul{
        min-height: 100%;
        gap: 12px;
        width: calc(50% - 6px);
    }
    .exhibition-items .item-list>li>ul li{
        min-height: 162px;
    }


    .exhibitor-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        width: 720px;
        margin:0 auto;
    }
    .exhibitor-item button{
        padding:10px 28px 16px;
    }
    .exhibitor-modal{
        width: 463px;
        max-width: unset;
        border-radius: 40px;
    }
    .exhibitor-modal .modal-content{
        padding:0 40px 40px;
    }
    .exhibitor-modal .modal-content .img img{
        max-height: 127px;
    }
    .exhibitor-modal .modal-content .info{
        max-height: calc(90vh - 180px);
    }
    .exhibitor-modal .modal-content .info tbody{
        display: table;
    }
    .exhibitor-modal .modal-content .info tbody tr{
        display: table-row;
    }
    .exhibitor-modal .modal-content .info tbody tr th,
    .exhibitor-modal .modal-content .info tbody tr td{
        display: table-cell;
        vertical-align: top;
        text-align: left;
        padding:6px 0;
    }
    .exhibitor-modal .modal-content .info tbody tr th{
        width: 93px;
    }
    .exhibitor-modal .btn-close{
        right:30px;
        top:30px;
    }
}
  

@media (min-width:1200px){
    .exhibition-wrap .section-header{
        margin-bottom: 60px;
        grid-area: 19px;
    }
    .exhibition-layout .img{
        height: 460px;
        border-radius: 40px;
    }

    .exhibition-items .item-list{
        gap: 28px;
        align-items: center;
    }
    .exhibition-items .item-list>li{
        flex-direction: row;
        align-items: stretch;
        gap: 12px;
    }
    .exhibition-items .item-list>li .title{
        width: 29%;
        min-height: 100%;
        height: auto;
        border-radius: 12px;
        background-position: right 19px bottom 19px:
    }
    .exhibition-items .item-list>li>ul{
        min-height: auto;
        flex-direction: row;
        gap: 12px;
        width: calc(71% - 12px);
    }
    .exhibition-items .item-list>li>ul li{
        min-height: 162px;
        width: calc((100% - 24px) / 3);
    }

    .exhibitor-list{
        gap: 47.5px 3%;
        width: auto;
        margin:0 auto;
    }
    .exhibitor-item{
        width: calc(88% / 5);
    }
    .exhibitor-item button{
        padding:10px 28px 20px;
    }
}