/* 로그인 */
.login-wrap .inner{
    padding:0;
}
.login-wrap .login-box{
    background-color: #f5f5f5;
    width: 100%;
    max-width: 480px;
    padding:40px 20px;
    margin:0 auto;
    color:#111;
}
.login-box .login-header{
    padding:5px 0;
    margin-bottom: 30px;
}
.login-box .login-header img{
    display: block;
    margin:0 auto;
    height: 60px;
}
.login-box .login-tab{
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
}
.login-box .login-tab button{
    width: 50%;
    box-sizing: border-box;
    border:0;
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    text-align: center;
    font-size: 15px;
    letter-spacing: -0.01em;
    font-family: var(--exo-font);
    position: relative;
}
.login-box .login-tab button::after{
    content:'';
    left:0;
    bottom:0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #111;
    position: absolute;
}
.login-box .login-tab button.cur{
    color:Var(--brand-color);
    font-weight: 700;
    font-size: 16px;
}
.login-box .login-tab button.cur::after{
    background-color: var(--brand-color);
    height: 4px;
}
.login-box .login-tab-content{
    display: none;
}
.login-box .login-tab-content.cur{
    display: block;
}
.login-box .login-tab-content .login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-box .login-tab-content .login-form .row{
    display: flex;
    flex-direction: column;
}
.login-box .login-tab-content .login-form .row label{
    font-weight: 700;
    display: block;
}
.login-box .login-tab-content .login-form .row input{
    width: 100%;
    height: 50px;
    margin-top: 4px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    padding:0 16px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.login-box .login-tab-content .login-form .row input:focus{
    outline: none;
    border-color: var(--brand-color);
}
.login-box .login-tab-content .login-form .form-btn{
    margin-top: 20px;
}
.login-box .login-tab-content .login-form .form-btn button{
    width: 100%;
    height: 52px;
    border:0;
    cursor: pointer;
    background-color: var(--brand-color);
    text-align: center;
    border-radius: 1000px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.025em;
    transition: background-color 0.3s ease;
}
.login-box .login-tab-content .login-form .form-btn button:hover{
    background-color: var(--brand-color-2);
}
.login-box .login-tab-content .login-form .login-util{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.login-box .login-tab-content .login-form .login-util a{
    font-size: 16px;
    color:#787878;
    letter-spacing: -0.04em;
    line-height: 1.4em;
    position: relative;
}
.login-box .login-tab-content .login-form .login-util a::after{
    content:'';
    display: block;
    width: 0;
    position: absolute;
    left:0;
    bottom:0;
    transform: translate(0,3px);
    height: 1px;
    background-color: #787878;
    transition: width 0.3s ease;
}
.login-box .login-tab-content .login-form .login-util a:hover::after{
    width: 100%;
}


/* 비밀번호 재설정 */



@media (min-width:800px){
    .login-wrap{
        padding:113.5px 0;
    }
    .login-wrap .login-box{
        border-radius: 40px;
        padding:40px;
    }
}

@media (min-width:1200px){
    .login-wrap{
        padding:161.5px 0;
    }
}
